.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

h1{
    text-align: center;
    color: #817D92;
    padding: 0 0 20px 0;
}

.password-text,
.length-count-text{
    font-size: 32px;
}

h1,
.signal-text{
    font-size: 24px;
}

.char-length-text,
.stength-text{
    font-size: 18px;
}

.strength-container,
.screen,
.character-length{
    justify-content: space-between;
}

.screen,
.interface{
    background-color: #24232C;
    
}

.length-count-text{
    color: #A4FFAF;
}

.screen{
    padding: 0 32px 0 32px;
}

.interface{
    padding: 24px 24px 24px 24px;
}


.character-length{
    align-items: center;
    margin: 0 0 15px 0;
}


.the-generator{
    width: 540px;
    height: 600px;
}

.visible.copied-text {
    opacity: 1;
  }
  
  .visible {
    transition: opacity 0.5s ease;
  }
  
  .copied-text {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #A4FFAF;
    margin: 0 15px 0 0;
  }

.clipboard svg{
    cursor: pointer;
}

.clipboard svg path{
    transition: ease-in .3s;
}

.clipboard svg:hover path{
    fill: white;
}


.screen{
    width: 540px;
    height: 80px;
    align-items: center;
    margin-bottom: 24px;
}


input[type='checkbox']{
    height: 20px;
    width: 20px;
    margin: 0 20px 0 0;
}



.slider{
    appearance: none;
    width: 100%;
    height: 8px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border: 2px solid #E6E5EA;
    border-radius: 50%;
    background-color: #E6E5EA;
    cursor: pointer;
    transition: ease-in .3s;

  }

  .slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border: 2px solid #A4FFAF;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
  }

.strength-container {
    background-color: #18171F;
    align-items: center;
    height: 72px;
    padding: 0 24px 0 24px;
    margin: 0 0 24px 0;
}

.password-text,
.stength-text{
    color: #817D92;
}

.password-white-text{
    color: white;
}

.bar-strength{
    align-items: center;
}
.bar-strength .signal-text{
    margin: 0 15px 0 0;
}

.bar-strength .bars{
    display: block;
    width: 10px;
    height: 28px;
    border: 1px solid white;
    margin: 0 10px 0 0;
}
.bar-strength .bars.too-weak {
    background-color: #F64A4A; 
    border: 1px solid #F64A4A;

  }
  
  .bar-strength .bars.weak {
    background-color: #FB7C58; 
    border: 1px solid #FB7C58;
  }
  
  .bar-strength .bars.medium {
    background-color: #F8CD65; 
    border: 1px solid #F8CD65;

  }
  
  .bar-strength .bars.strong {
    background-color: #A4FFAF; 
    border: 1px solid #A4FFAF;

  }

.gen-btn{
    align-items: center;
    border: 0;
    width: 100%;
    height: 65px;
    background-color: #A4FFAF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #18171F;
    cursor: pointer;
    transition: ease-in .3s;

}

.gen-btn svg{
    margin: 0 0 0px 20px;
}

.gen-btn svg path{
    fill: black;
    transition: ease-in .3s;

}

.gen-btn:hover{
    outline: solid 2px #A4FFAF;
   background-color: transparent;
   color: #A4FFAF;

}

.gen-btn:hover svg path {
    fill: #a4ffaf; 
}




.checkbox-item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 50%;
}




.checkbox-container{
    flex-direction: column;
    padding: 15px 0px 15px 0;
}

.custom-check {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 3px solid white;
    overflow: hidden;
    transition: ease-in .3s;
}

.custom-check:hover {
    border: 3px solid #A4FFAF;
    transition: ease-in .3s;
}


.checkbox-item:hover input ~ .custom-check {
    background-color: transparent;

}

.checkbox-item input:checked ~ .custom-check {
    background-color: #A4FFAF;
    border: 3px solid #A4FFAF;
}

.custom-check:after {
    content: "";
    position: absolute;
    display: none;

}

.checkbox-item input:checked ~ .custom-check:after {
    display: block;
}

.checkbox-item .custom-check:after {
    left: 3px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);


}

@media screen and (max-width: 800px) {
    h1{
        text-align: center;
        color: #817D92;
        padding: 0 0 20px 0;
        font-size: 16px;
    }

    .the-generator {
        width: 440px;
        height: 632px;
    }

    .screen {
        width: 440px;
        height: 80px;
        align-items: center;
        margin-bottom: 24px;
    }

    .password-text {
        font-size: 26px;
    }
}

@media screen and (max-width: 460px) {
    h1{
        text-align: center;
        color: #817D92;
        padding: 0 0 20px 0;
        font-size: 16px;
    }

    .the-generator {
        width: 350px;
        height: 500px;
    }

    .screen {
        width: 350px;
        height: 64px;
        align-items: center;
        margin-bottom: 24px;
    }

    .password-text {
        font-size: 20px;
    }

    .interface {
        padding: 16px 16px 16px 16px;
        height: 423px;
    }

    .character-length {
        align-items: center;
        margin: 0 0 10px 0;
    }

    .checkbox-container {
        flex-direction: column;
        padding: 10px 0px 10px 0;
    }

    .checkbox-item {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .strength-container {
        height: 56px;
    }

    .stength-text{
        font-size: 16px;
    }

    .signal-text{
        font-size: 14px;
    }
    
    .gen-btn {
        height: 56px;
    }
}